<form method="POST" action="{{ .Site.Params.GForm.url }}" >
  <input type="hidden" name="fvv" value="1"/>
  <input type="hidden" name="pageHistory" value="0"/>

  <input type="hidden" name="draftResponse" value='[,,"8762606666561239613"]'>
  <input type="hidden" name="fbzx" value="8762606666561239613">

  <div>
    <input class="text" type="email" name="{{ .Site.Params.GForm.field }}" id="email" placeholder="user@example.com"/><input class="submit" type="submit" value="Notify Me!"/>
  </div>
</form>
